<div>
        <fieldset>
          <legend>Add a new user</legend>
          <label for="firstName">FirstName:</label>
          <input type="text" name="firstName" ng-model="user.firstName" id="firstName">
			</br>
			</br>
          <label for="lastName">LastName:</label>
          <input type="text" name="lastName" ng-model="user.lastName" id="lastName">
			</br>
			</br>
          <label></label>
          <button class="btn btn-large btn-success" ng-click="addUser(user)">Add</button>
        </fieldset>
      </div>
